.Cockpit {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    /* background-color: rgb(153, 187, 86); */
  
  }
  
  
  .red {
    color: red;
  }
  
  .bold {
    font-weight: bold;
  }
  .Button, div {
    display: flex;
    justify-content: center;
  }
  
  .Button {
    color: white;
    font: inherit;
    width: 200px;
    border: 1px yellowgreen;
    padding: 8px;
    cursor: pointer;
    border-radius: 3px;
    background-color: green;
  }
  .column {
    display: flex;
    flex-direction: column;
  }
  
  .Button:hover {
    background-color: yellow;
    color: black;
  }
  
  .Button.Red {
    background-Color: red;
  }
  
  .Button.Red:hover {
    background-color: salmon;
    color: black;
  }