.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: green-yellow;

}


.red {
  color: red;
}

.bold {
  font-weight: bold;
}
.App, div {
  display: flex;
  justify-content: center;
}